body {
  min-width: 300px;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

.jumbotron {
  padding-top: 10px;
  margin-top: 0px;
  height: 90px;
}

#logo {
  padding-left: 10px;
  padding-bottom: 10px;
}

#result-image {
  width: 500px;
}

.result {
  display: none;
}

#pizza-size-output {
  font-weight: bold;
}

#pizza-toppings-output {
  font-weight: bold;
}
