body {
  min-width: 300px;
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: 100px;
}

.container {
  text-align: center;
}

.jumbotron {
  padding-top: 10px;
  margin-top: 0px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo {
  padding-left: 10px;
  padding-bottom: 10px;
}

input[type="checkbox"] {
  margin: 5px;
}

.input-align {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.pizza-toppings{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #dba24a;
  padding: 15px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result {
  display: none;
}

#pizza-size-output {
  font-weight: bold;
}

#pizza-toppings-output {
  font-weight: bold;
}

#result-image {
  width: 500px;
}

.really-small {
  transform: scale(0.3);
}

.small {
  transform: scale(0.5);
}

.medium {
  transform: scale(0.7)
}

.big {
  transform: scale(0.9);
}
