body {
  min-width: 300px;
}
#logo {
  width: 50px;
  padding-bottom: 5px;
}

#result-image {
  width: 500px;
}

.result {
  display: none;
}

#pizza-size-output {
  font-weight: bold;
}

#pizza-toppings-output {
  font-weight: bold;
}
